.btc-background-wrapper.noselect(starfield-mouse)
  .btc-background(ng-if="!twinkle")
    canvas#starfield(starfield=""
      min-distance="15"
      sample-frequency="20"
      blink-rate="8"
    )
  .btc-background(ng-if="twinkle")
    canvas#starfield(starfield=""
      min-distance="1.25"
      sample-frequency="20"
      blink-rate="10"
    )
  #treetent
    #treetent-img
      img(
        scroll-to="#wrapper"
        src="/images/treetent.svg"
        width="100", height="100"
        ng-click="treetentClick()")

#logo.col-xs-12.noselect
  //-a.noselect(ui-sref="main")
  a.noselect(ng-click="treetentClick()")
    <img src="/images/logo.svg" height="150">
