.btc-background-wrapper

  #login-logout-wrapper(ng-show="cookie")
    #login-logout-inner
      a(ui-sref="register.two")
        button#edit-btn.btn(
          ng-class="{'btn-info': editHover, 'btn-wait': !editHover}"
          ng-mouseover="editHover = true"
          ng-mouseleave="editHover = false"
          )
          | revise
      a(ui-sref="waiver")
        button#logout-btn.btn.btn-wait(
          ng-class="{'btn-success': waiverHover, 'btn-wait': !waiverHover}"
          ng-mouseover="waiverHover = true"
          ng-mouseleave="waiverHover = false"
          )
            | waiver
      a(ui-sref="main")
        button#logout-btn.btn.btn-wait(
          ng-click="logout()"
          ng-class="{'btn-danger': logoutHover, 'btn-wait': !logoutHover}"
          ng-mouseover="logoutHover = true"
          ng-mouseleave="logoutHover = false"
          )
            | logout

  .btc-background(ng-if="!twinkle")
    .star(
      ng-repeat="star in stars1"
      ng-style="{'left': star.x+'%', 'top': star.y+'%'}")
    #treetent
      #treetent-img
        img(
          src="/images/treetent.svg",
          width="100", height="100"
          ng-click="treetentClick()")
  .btc-background(ng-if="twinkle")
    .star.twinkle(
      ng-repeat="star in stars2"
      id="star-{{$index}}"
      ng-style="{'left': star.x+'%', 'top': star.y+'%'}")
    #treetent
      #treetent-img
        img(
          src="/images/treetent.svg",
          width="100", height="100"
          ng-click="treetentClick()")

#logo.col-xs-12.noselect
  a.noselect(ui-sref="main")
    <img src="/images/logo.svg" height="150">
