.btc-background-wrapper

  #login-logout-wrapper(ng-show="cookie")
    #login-logout-inner
      a(ui-sref="register.two")
        button#edit-btn.btn(
          ng-class="{'btn-info': editHover, 'btn-wait': !editHover}"
          ng-mouseover="editHover = true"
          ng-mouseleave="editHover = false"
          )
          | revise
      a(ui-sref="main")
        button#logout-btn.btn.btn-wait(
          ng-click="logout()"
          ng-class="{'btn-danger': logoutHover, 'btn-wait': !logoutHover}"
          ng-mouseover="logoutHover = true"
          ng-mouseleave="logoutHover = false"
          )
            |logout

  .btc-background
    a(ui-sref="fireside")
      <img src="/images/treetent.svg" width="100" height="100" id="treetent">

#logo.col-xs-12.noselect
  a.noselect(ui-sref="main")
    <img src="/images/logo.svg" width="187" height="200">
