.btc-background-wrapper(starfield-mouse)
  .btc-background(ng-if="!twinkle")
    canvas#starfield(starfield=""
      min-distance="10"
      sample-frequency="40"
      blink-rate="0.55"
      has-color="false"
    )
  .btc-background(ng-if="twinkle")
    canvas#starfield(starfield=""
      min-distance="1.25"
      sample-frequency="20"
      blink-rate="10.0"
      has-color="true"
    )
  #treetent
    #treetent-img
      img(
        scroll-to="#wrapper"
        src="/images/treetent.svg"
        width="100", height="100"
        ng-click="treetentClick()")

#logo.col-xs-12
  //-a.noselect(ui-sref="main.main")
  a(ng-click="treetentClick()")
    <img src="/images/logo.svg" height="150">
