#register-three
  .p.label.required
    small * = required

  .row
    .form-group.col-xs-12
      label tee-shirt size *
      select#register-tshirt-size.form-control.input-md(
        ng-model="profile.tshirt_size")
        option men's small
        option men's medium
        option men's large
        option lady's small
        option lady's medium
        option lady's large

    .form-group.col-xs-12.col-sm-6
      label.label(for="register-dietary-restrictions") dietary restrictions
      input#register-dietary-restrictions.form-control(
        type="text" placeholder="vegan, halal, carnivore"
        ng-model="profile.resume")

    .form-group.col-xs-12.col-sm-6
      label.label(for="register-github-username") github
      input#register-github-username.form-control(
        type="text" placeholder="just the username"
        ng-model="profile.github")

    .form-group.col-xs-12
      label.label(for="register-website-url") website url
      input#register-website-url.form-control(
        type="text" placeholder="if you have a portfolio website"
        ng-model="profile.website")

    .form-group.col-xs-12
      label.label(for="register-resume-url") resume url
      input#register-website-url.form-control(
        type="text" placeholder="host it on Dropbox or something"
        ng-model="profile.website")

  .row
    .form-group.col-xs-12
      label.label(for="register-expectations") notes
      textarea#register-expectations.form-control(
        rows="3"
        placeholder="tell us what you hope to get out of bitcamp"
        ng-model="profile.blurb")


footer
  .row
    .form-group.col-xs-12.col-sm-8.col-sm-push-4
      a(ui-sref="register.four")
        button#register-continue3.btn.btn-info
          | review
    .form-group.col-xs-12.col-sm-4.col-sm-pull-8
      a(ui-sref="register.two")
        button#register-goback3.btn.btn-warning
          | go back
