form#register-two(novalidate="" ng-submit="!submitting && submit()")
  .p.label.required
    small * = required

  .row
    .form-group.col-xs-12.col-sm-6
      label(for="register-fname") first name *
      input#register-fname.form-control(
        type="text" placeholder="sally"
        ng-model="profile.first")
    .form-group.col-xs-12.col-sm-6
      label(for="register-lname") last name *
      input#register-lname.form-control(
        type="text" placeholder="hacker"
        ng-model="profile.last")


  .row
    .form-group.col-xs-12
      label(for="register-school") school
      input#register-school.form-control(
        type="text" placeholder="bitcamp high"
        ng-model="profile.school")

  .row
    .form-group.col-xs-12.col-sm-7
      label(for="mode-of-travel") mode of transportation *
      select#mode-of-travel.form-control.input-md(
        name="mode-of-travel"
        ng-model="profile.travel")
        option get myself there
        option can take a bus
        option need a plane

footer
  input(type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px; visibility: hidden;")
  .row
    .form-group.col-xs-12
      button#register-continue2.btn.btn-info(ng-click="!submitting && submit()")
        | continue
