#main(ng-show="isLoaded")
  header#header.btc-row
    div.clearfix(ng-include="" src="'layout/header-logo.html'" onload="isLoaded = true")

    .h1#title(ng-if="!twinkle") Lights Out
    .p#subtitle(ng-if="!twinkle") Ready for s'more hacks? Bitcamp 2015 coming soon.

    h3(ng-if="!twinkle")
      a(href="//2014.bitca.mp/" target="_blank")
        button 2014 website

  #updates.btc-row
    #updates-input
      h2 {{successText || 'get email updates'}}
      h3
        form.animated(id="signup", name="signup", ng-submit="submit()",
          ng-class="{'shake': signupError, 'tada': signupSuccess}")
          input(type="text", autocapitalize="off", autocorrect="off", spellcheck="false",
            ng-model="signup.name" placeholder="name", ng-disabled="successText")
          input(type="text", autocapitalize="off", autocorrect="off", spellcheck="false",
            ng-model="signup.email" placeholder="email", ng-disabled="successText")
          input.animated(
            type="text", autocapitalize="off", autocorrect="off", spellcheck="false",
            ng-model="signup.university" placeholder="school", ng-disabled="successText")
          input(type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px; visibility: hidden;")


