form#login(novalidate="" ng-submit="login(email, password)")
  .register-view
    .register-wrapper
      header
        a(ui-sref="main" title="cancel")
          i#cancel-register.glyphicon.glyphicon-remove

        #header-inner
          h3.b {{title}}

      section.register-body
        .register-body-inner

          .row
            .form-group.col-xs-12
              input#register-email.form-control(
                type="email" placeholder="* email address"
                ng-model="email"
                ng-class="{shake: emailErr, animated: emailErr}")

          .row
            .form-group.col-xs-12
              input#register-password.form-control(
                type="password" placeholder="* password"
                ng-model="password"
                ng-class="{shake: emailErr, animated: emailErr}")

          footer
            input(type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px; visibility: hidden;")
            .row
              .form-group.col-xs-12.col-sm-6.col-sm-push-6
                button.btn.btn-info(ng-click="login(email, password)")
                  | login
              .form-group.col-xs-12.col-sm-6.col-sm-pull-6
                a(ui-sref="main")
                  button.btn.btn-danger
                    | cancel
              .form-group.col-xs-12.col-sm-6.col-sm-push-6
                button.btn.btn-success
                  | reset password

        hr(ng-if="api_messages")

        p#api-message.text-center(ng-repeat="m in api_messages")
          label.label.label-warning
            {{ m }}
