form(novalidate="" ng-submit="!loggingIn && loginF(email, password)")

  .row(ng-if="token")
    .form-group.col-xs-12.text-center
      .p login to validate your email

  .row
    .form-group.col-xs-12
      input#login-email.form-control(
        type="email" placeholder="* email address"
        ng-model="email"
        ng-class="{shake: emailErr, animated: emailErr}"
        ng-disabled="loggingIn")

  .row
    .form-group.col-xs-12
      input#login-password.form-control(
        type="password" placeholder="* password"
        ng-model="password"
        ng-class="{shake: emailErr, animated: emailErr}"
        ng-disabled="loggingIn")

  footer
    input(type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px; visibility: hidden;")
    .row
      .form-group.col-xs-12
        button.btn.btn-success(
          ng-click="!loggingIn && loginF(email, password)"
          ng-style="loginB_CSS")
          | {{api_messages && api_messages[0] || 'login'}}
      .form-group.col-xs-12.col-sm-6
        a(ui-sref="^.reset")
          button.btn.btn-warning
            | reset password
