form#reset-form(ng-submit="!resetting && resetRequest()" ng-if="!token")
  .row
    .form-group.col-xs-12
      input#reset-email.form-control(
        type="email" placeholder="* email address"
        ng-model="$parent.email"
        ng-class="{shake: emailErr, animated: emailErr}"
        ng-disabled="resetting")
  footer
    input(type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px; visibility: hidden;")
    .row
      .form-group.col-xs-12.col-sm-6
        button.btn(ng-click="!resetting && resetRequest()"
          ng-class="{'btn-warning': !isReset, 'btn-success': isReset}")
            | {{isReset && 'check your email' || 'reset password'}}
      .form-group.col-xs-12.col-sm-6
        a(ui-sref="^.main")
          button.btn.btn-danger
            | cancel


form#reset-form(ng-submit="!resetting && resetResponse()" ng-if="token")
  .row
    .form-group.col-xs-12
      label.label(for="reset-password") * password
      input#reset-password.form-control(
        type="password" placeholder="5+ numbers and letters"
        ng-model="$parent.password"
        ng-class="{shake: passwordErr, animated: passwordErr}"
        ng-disabled="resetting")

    .form-group.col-xs-12
      label.label(for="reset-confirm") * password
      input#reset-confirm.form-control(
        type="password" placeholder="(once more)"
        ng-model="$parent.confirm"
        ng-class="{shake: confirmErr, animated: confirmErr}"
        ng-disabled="resetting")
  footer
    input(type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px; visibility: hidden;")

    .row(ng-if="token")
      .form-group.col-xs-12.col-sm-6
        button.btn.btn-success(ng-click="!resetting && resetResponse()")
          | reset password
      .form-group.col-xs-12.col-sm-6
        a(ui-sref="^.main")
          button.btn.btn-danger
            | cancel

